In [1]:
import pandas as pd

# Load Data

In [2]:
data_path = "../../data/fine-tuning/"

In [3]:
test_df = pd.read_csv(data_path + "moravian_deu_test.csv")
test_df

     source                                               text     label
0        23                           17 waren wir in Manakory   neutral
1        33                         ich grigte auch erlaubniß,  positive
2        11  Wie mir dabey gewesen, deß waren alle meine Gl...  positive
3        26  In der Stunde machte sich der Heiland mir beka...  positive
4        27  1744, am vierten Januar, wurde ich nebst meine...   neutral
..      ...                                                ...       ...
437       9                      Die lezte Zeit kränckelte er.  negative
438      38  Ich sahe sie oft auf ihrem Angesicht liegen un...  positive
439      13  Ich bat den Heiland mein Herz mit seinem Blute...  positive
440      34                         nie hört’ man dich klagen;  positive
441      26  ich wußte darauf nichts besseres zu tun als st...  positive

[442 rows x 3 columns]

# Get Model Predictions

In [4]:
prediction_path = "../../data/predictions/"

## gbert*

In [5]:
finetuned_gbert_df = pd.read_csv(prediction_path + "moravian_deu_test_gbert_fine-tuned.csv")
finetuned_gbert_df

     source                                               text     label
0        23                           17 waren wir in Manakory   neutral
1        33                         ich grigte auch erlaubniß,  positive
2        11  Wie mir dabey gewesen, deß waren alle meine Gl...  positive
3        26  In der Stunde machte sich der Heiland mir beka...  positive
4        27  1744, am vierten Januar, wurde ich nebst meine...   neutral
..      ...                                                ...       ...
437       9                      Die lezte Zeit kränckelte er.  negative
438      38  Ich sahe sie oft auf ihrem Angesicht liegen un...  positive
439      13  Ich bat den Heiland mein Herz mit seinem Blute...  positive
440      34                         nie hört’ man dich klagen;  positive
441      26  ich wußte darauf nichts besseres zu tun als st...  positive

[442 rows x 3 columns]

# Join DataFrames

In [6]:
false_prediction_df = pd.DataFrame({"text": test_df["text"], "y_true": test_df["label"], "y_predicted": finetuned_gbert_df["label"]})
false_prediction_df = false_prediction_df.loc[false_prediction_df["y_true"] != false_prediction_df["y_predicted"]]
false_prediction_df

                                                  text    y_true y_predicted
6    Sie stellte sich ihren Heimgang oft nahe vor, ...   neutral    positive
21   bau dir ein Haus und heirate die Person, die d...  positive     neutral
26   Einst redete er mich folgendermaßen an: “Mein ...  positive     neutral
27   die strenge Kälte war uns bei unsrer dünnen Kl...  negative    positive
28   ich lies mich beym Pfarrer {NAME} melden, daß ...  positive     neutral
..                                                 ...       ...         ...
420  ich glaubte auch es würde nichts aus mir bis i...  negative     neutral
427  daß geschahe sehr Solen, ingegenwart vieler In...   neutral    positive
428  als wir aber etwa noch 4 Meilen davon entfernt...   neutral    negative
430  Der Capitain sagte darauf, daß er gekommen sei...  positive     neutral
433  hätte Er nicht Seine Hand über mich gehalten, ...  positive    negative

[84 rows x 3 columns]

In [7]:
false_prediction_df.to_csv("../../data/error-analysis/moravian_deu_test_gbert_fine-tuned_false-predictions.csv")