In [1]:
import pandas as pd

# Load Data

In [2]:
data_path = "../../data/fine-tuning/"

In [3]:
train_df = pd.read_csv(data_path + "moravian_deu_train.csv")
train_df

      source                                               text     label
0         11  Ich küßte Ihm im Geist die Hand mit ihren Näge...  positive
1         37                         Ihm warst du ganz geweiht!  positive
2         19  Ein Soldaten Bruder der bey meinem Meister im ...  positive
3         34                       So weit ihr eigener Aufsatz.   neutral
4         21  da er noch ein paar Jahr als Gärtner u. nun 23...  negative
...      ...                                                ...       ...
1763       5  Sie werden weder Hungern noch Dürsten - Denn i...  positive
1764      34  Ach den Freund kanst du nun sehn, an dem du ge...  positive
1765       1  Sie bereuete auch hernach die Zeit oftt mit vi...  negative
1766      33                        ich lies es darauf ankommen   neutral
1767      11  Nun ist er daheim, und küßt die Wunden, und ic...  positive

[1768 rows x 3 columns]

In [4]:
test_df = pd.read_csv(data_path + "moravian_deu_test.csv") 
test_df

     source                                               text     label
0        23                           17 waren wir in Manakory   neutral
1        33                         ich grigte auch erlaubniß,  positive
2        11  Wie mir dabey gewesen, deß waren alle meine Gl...  positive
3        26  In der Stunde machte sich der Heiland mir beka...  positive
4        27  1744, am vierten Januar, wurde ich nebst meine...   neutral
..      ...                                                ...       ...
437       9                      Die lezte Zeit kränckelte er.  negative
438      38  Ich sahe sie oft auf ihrem Angesicht liegen un...  positive
439      13  Ich bat den Heiland mein Herz mit seinem Blute...  positive
440      34                         nie hört’ man dich klagen;  positive
441      26  ich wußte darauf nichts besseres zu tun als st...  positive

[442 rows x 3 columns]

In [5]:
list(test_df["label"].value_counts())

[177, 150, 115]

# Compile Overview

In [6]:
data = {
    "Train": reversed(train_df["label"].value_counts()),
    "Test": reversed(test_df["label"].value_counts()),
}

overview_df = pd.DataFrame.from_dict(data, orient="index", columns=["Negative_Instances", "Neutral_Instances", "Positive_Instances"])
overview_df["Total"] = overview_df.sum(axis=1)
overview_df.loc['Total',:] = overview_df.sum(axis=0)
overview_df

       Negative_Instances  Neutral_Instances  Positive_Instances   Total
Train               485.0              523.0               760.0  1768.0
Test                115.0              150.0               177.0   442.0
Total               600.0              673.0               937.0  2210.0